
.main-color {
  background-color: #3FA49F;
}

li a{
  color: white !important;
  font-size: 120%;
}

.nav-item:hover{
  background-color: #2D8581;
  border-radius: 20px;
}

body{
  font-family: 'Raleway', sans-serif;
}
