/* reponsive registro */
.container__register{
    margin-top: 30px;
}

.container__register .container__register-inputs{
    flex-direction: row;
}

.container__register .container__register-inputs input{
    width: 300px;
}

.container__register .container__register-submit{
    display: block;
    width: 93%;
    margin: 20px auto;
}

